@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

:root {
  --light-primary: #569cd6;
  --light-secondary: #bed6ff;
  --dark-primary: #313131;
  --dark-secondary: #2a2a2a;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --project-width: 55rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

body {
  background-color: #1e1e1e;
  font-family: "Source Code Pro", monospace;
  margin: 0 auto;
  font-size: 1em;
  height: 100vh;
}

h1 {
  color: var(--light-primary);
  text-align: center;
}

p,
h2 {
  color: var(--light-secondary);
}

.cube-scene {
  width: 100%;
  height: 50%;
}
