@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

:root {
  --light-primary: #569cd6;
  --light-secondary: #bed6ff;
  --dark-primary: #313131;
  --dark-secondary: #2a2a2a;
  --value: #dcdcaa;
  --white: #fff;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --project-width: 55rem;
}

html {
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 2vh;
}

body {
  background-color: #1e1e1e;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  font-size: 20px;
  min-height: 100vh;
  overflow-x: hidden;
}

#name {
  margin-bottom: 0;
  font-size: 5vmin;
}

@media only screen and (max-width: 768px) {
  #name {
    font-size: 19px;
  }
}

#romaji {
  font-size: 2.5vw;
}

@media only screen and (max-width: 768px) {
  #romaji {
    font-size: 15px;
  }
}

h1 {
  color: var(--light-primary);
  text-align: center;
  font-size: 4vmin;
}

p,
h2 {
  color: var(--light-secondary);
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

/* h2 {
  font-size: 3vmin;
} */

.cube-scene {
  width: 100%;
  height: 50vh;
  margin: 5% 0 5% 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.keyword {
  color: var(--light-primary);
}

.grow {
  transition: all 0.2s ease-in-out;
  animation: grow-animation 2s linear infinite;
}
@keyframes grow-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.marquee {
  width: 100vw;
  line-height: 50px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}
.marquee h1 {
  display: inline-block;
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

#name-subtitle {
  text-align: center;
  font-size: 3vmin;
}

.section-container {
  padding: 5% 10% 5% 10%;
}

@media only screen and (max-width: 768px) {
  .section-container {
    padding: 5%;
  }
}

.white {
  color: var(--white);
}

.value {
  color: var(--value);
}
